[Unit]
Description=Monitoring agent
DefaultDependencies=no
Before=shutdown.target

[Service]
ExecStart=/usr/bin/monitoring-agent --daemon
Type=forking
Restart=on-failure
TimeoutStartSec=10

[Install]
WantedBy=default.target
